<!DOCTYPE html>
<html>
<head>

</head>
	<body>
		<h1>Gossip numéro <%=@gossip.id%></h1>
		<p>Date de création : <%=@gossip.created_at%></p>
		<p> Auteur : <%= link_to "#{@user.find(@gossip.user_id).first_name}",user_path(@gossip.user_id) %></p>
		<p>Titre : <%= @gossip.title %></p>
		<p>Content : <%= @gossip.content %></p>
	</body>
</html>
