<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<%= form_for @user do |f|%>
			<div class="form-group">
				<label>Prénom : </label>
				<%= f.text_field :first_name, class:'form-control'%>
			</div>
			<div class="form-group">
				<label>Nom : </label>
				<%= f.text_field :last_name, class:'form-control'%>
			</div>
			<div class="form-group">
				<label>Mot de passe : </label>
				<%= f.text_field :password, class:'form-control'%>
			</div>
			<div class="form-group">
				<label>City : </label>
				<%= f.text_field :city_id, class:'form-control'%>
			</div>
			<div class="form-group">
				<label>Email : </label>
				<%= f.text_field :email, class:'form-control'%>
			</div>
			<div class="form-group">
				<%= f.submit "Inscription"%>
			</div>
		<%end%>
	</body>
</html>